{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<p>Bienvenue sur notre site web</p>

	{% if app.user %}
		<p>
			<a href="{{ path('app_logout')}}">Se déconnecter</a>
			<a href="{{ path('app_articles') }}">voir les articles</a>
		</p>
	{% else %}
		<a href="{{ path('app_register') }}">Créer un compte</a>
		<br>
		<a href="{{ path('app_login')}}">Se connecter</a>
		<br>
		<a href="{{ path('app_articles') }}">voir les articles</a>
	{% endif %}


{% endblock %}
