{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}

<h1>Liste des articles</h1>

<a href="{{ path('app_add_article') }}" class="border mb-8 border-slate-400 flex p-4 rounded-md max-w-96 hover:bg-gray-200">
    <span class="text-gray-400">
        <i class="fa-solid fa-pencil"></i>
    </span>
    <span>Create Article</span>
</a>


<div class="flex flex-wrap gap-4">
    {% if articles|length > 0 %}
        {% for article in articles %}
        <article class="border border-slate-400 p-4 rounded-md max-w-96">
        <a class="flex flex-col gap-3" href="{{ path('app_show_article', {id: article.id}) }}">
            <img class="rounded-sm" src="{{ asset('images/placeholder.svg') }}"/>
            <h2>{{article.title}}</h2>
            <span class="text-gray-400">
            <i class="fa-solid fa-pencil"></i>
            {{article.date|date('d/m/Y')}}
            </span>
        </a>
        </article>
        <a href="{{ path('app_edit_article') }}" class="border mb-8 border-slate-400 flex p-4 rounded-md max-w-96 hover:bg-gray-200">
            <span class="text-gray-400">
                <i class="fa-solid fa-pencil"></i>
            </span>
            <span>Edit Article</span>
        </a>
        {% endfor%}
    {% else %}
        <h2 class="m-auto" >Il n'y a pas d'article</h2>
    {% endif %}
</div>

{% endblock %}
