{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

<h1>Article</h1>

<img class="rounded-sm" src="{{ asset('images/placeholder.svg') }}"/>
<h2>{{article.title}}</h2>
<p>écrit par {{article.author.email}} le {{article.date|date('d/m/Y')}}</p>
<span class="text-gray-400">
<h3>{{article.content}}</h3>
</span>

{% endblock %}
